page-stats {
    *{text-justify: auto;
        word-wrap:break-word;
    }
    ion-navbar{
        ion-title{
            text-align: center;
            width: 100%;                
        }
        .search-btn{
            position: absolute;
            right: 20px;
            top: 35%;
            font-size: 30px;
            color: white;
        }
    }
    
    
    .splash{
        background: url(../../assets/imgs/splash.jpg)no-repeat center center;
        background-size: cover;
        position: fixed;
        z-index: 1000;
        display: block;
        width: 100%;
        height: 100%;
        transition: 0.5s;
    }
    
    ion-content{
        overflow: hidden;
    }
    

    
    .search{
        position: absolute;
    }
    
    ion-label{
        float: left;
    
    }
    
    ion-select{
        float: left;
        box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.349);
        margin-bottom: 20px;
    }
    
    ion-scroll{
        height: 75%;
        padding-top: 10px;
    }
    
    .team{
        color: color($colors,"primary");
    }
    
    .teamImg{
        width: 35px;
        height: 35px;
    }
    
    .player-name{
        text-align: justify;
    }
    
    .player-item{
        height: 100px;
        ion-avatar{
            img{
                height: 70px !important;
                width: 80px !important;
            }
        }
    }
}

