page-details {
}

*{box-sizing: border-box;}

.banner{
    background:#032f4f;
    position: relative;
    color: white;
    .player-img{
        width: 130px;
        height: 100px;
        float: left;
        z-index: 2;
    }
    .team-logo{
        position: absolute;
        left: 10%;
        top: -80%;
        z-index: -1;
        opacity: 0.3;
    }
    .team-logo-sm{
        height: 60px ;
        width: 60px;
        float: right;
        padding: 0;
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
}

ion-scroll{
    height: auto;
}


.stats{
    .header{
        background: color($colors,"primary");
        color:color($colors,"light");
        font-weight: bold;
        ion-col{
            border: 1px solid rgba(255, 255, 255, 0.226);
        }
    }
    ion-row{
        &:nth-child(even){
            background: rgb(218, 218, 218);
            
            ion-col{
                border: 1px solid rgba(255, 255, 255, 0.226);
            }
        }

    }
    ion-col{
        text-align: center;
        min-width: 80px;
        padding: 12px 0;
        border: 1px solid rgba(66, 66, 66, 0.192);
        background: inherit;
    }
}

.pergame{
    font-weight: 500;
    border-bottom: 1px solid rgba(53, 53, 53, 0.425);
    box-shadow: 0px 4px 4px rgba(90, 90, 90, 0.61);
    ion-col{
    border-right: 1px solid rgba(53, 53, 53, 0.425);
        
    }
}
